.text-center {
    text-align:center;
}

.top-navbar{
    margin:0px;
}
.top-navbar .navbar-brand {
    color: #fff;
    width: 260px;
    text-align: left;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
}

.top-navbar .nav > li > a {
    padding: 19px 15px;
    color: #77C0FD;
}

.top-navbar .nav > li > a:hover{
    text-decoration: none;
    background-color: #225081;
    color: #fff;
}

.top-navbar .dropdown-menu{
    min-width: 230px;
    border-radius: 0 0 4px 4px;
}

.top-navbar .dropdown-menu > li > a:hover{
    color: #225081;
    background:none;
}

.dropdown-tasks{
    width: 300px;
}

.dropdown-tasks .progress {
    height: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 0px;
}

.dropdown-tasks > li > a { 
    padding: 0px 15px;
}

.dropdown-tasks p {
    font-size: 13px;
    line-height: 21px;
    padding-top: 4px;
}

.active-menu {
    background-color:#225081!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}

.sidebar-collapse .nav {
	padding:0;
}

.sidebar-collapse .nav > li > a {
	color:#fff;
	background:transparent;
	text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}

.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

ul.nav.nav-second-level.collapse.in {
background: #172D44;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	 
	outline:0;
}
 
.navbar-side {
	border:none;
	background-color: transparent;
	
}

.top-navbar {
	background:#09192A;
	border-bottom:none;
}

.top-navbar .nav > li > a > span {
margin-right: 2px;
}

.top-navbar .navbar-brand:hover { 
color:#fff;
}

.dropdown-user li {
margin: 8px 0;
}

.navbar-default {
border:0px solid black;
}

.navbar-header {
    background: #09192A;
}

.nav > li > a > span {
    margin-right:10px;
}



